
body{
margin: 0;
font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
min-width:990px;
}
#content-box{
	width: 990px;
	margin: 0 auto;
}
#content-title {
	width: 650px;
}
#content-comment {
	width: 650px;
	margin-top: 24px;
	color: white;
	font-weight: 300;
}
#main-content{
background-image: linear-gradient(30deg, rgb(1,121,82) 0%, rgb(140,193,74) 90%, rgb(140,193,74) 100%);
height: 200px;
padding: 96px 0;
}
#content-title p {
	margin: 0;
	color: white;
	font-size: 48px;
	font-weight: lighter;
}
#content-left{
	width: 650px;
	float: left;
}
#content-right{
	width: 340px;
	float: right;
	height: 340px;
	background-image: url(./logo-image.svg);
	background-position: center;
	background-size: 200px;
	background-repeat: no-repeat;
}
nav {
	background-color: #333;
}
nav ul {
	margin: 0;
	padding: 0;
	height: 48px;
	font-size:0;
}
nav ul li {
	display: inline-block;
	line-height: 48px;
	border-right: 1px solid #888;
	background-color: #333;
	transition: .3s;
}
nav ul li:hover{
	background-color: #888;
}
nav ul li a {
	display: block;
	padding: 0 24px;
	text-decoration: none;
	color: #f7f7f7;
	font-size: 12px;
}
#nav-image {
	background-image: url("./nav-image.svg");
	width: 170px;
	height: 48px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin: 0 16px;
}
nav ul li a#home{
	border-left: 1px solid #888;
}
#footer {
	width: 990px;
	margin: 0 auto;
	font-weight: lighter;
}
.link-icon{
	display: block;
	height: 48px;
	width: 48px;
	float: right;
	margin: 0px auto 20px auto;
	margin-right:16px;
}
#twicon{
	background-image: url("./web-twitter.svg");
}
#ghubicon{
	background-image: url("./github.svg");
}
#article-nav {
	width: 990px;
	margin: 0 auto;
}
#article-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#article-nav ul li {
    float: left;
    margin: 0 18px;
}
#article-nav ul li a {
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(1,121,82);
  margin: 24px 0 24px 0;
}
#article-nav ul li a rt {
	font-size: 18px;
	ruby-align: center;
}
footer {
    clear: both;
    height: 68px;
    background-color: white;
    padding-top: 32px;
    border-top: solid 2px #cdcdcd;
}
body {
  background-color: #f7f7f7;
}
#article article {
	width: 990px;
	margin: 0 auto;
}
#article *{
	font-weight: 300;
}
#article{
	padding-top: 40px;
	background-color: #fff;
	padding-bottom: 40px;
	border-top: solid 2px #cdcdcd;
}
#article h1 {
	margin: 0;
	font-size:36px;
}
a {
	color: rgb(1,121,82);
	text-decoration: none;
}
nav ul li a rt {
    ruby-align: center;
}
/* スマホ用 */
@media only screen and (max-device-width: 480px) {
html {
  width: 480px;
}
body {
  min-width: 480px;
  width: 480px;
}
nav {
  display: none;
}
#content-box {
  width: 480px;
}
#content-left {
  width: 480px;
  float: none;
}
#content-right {
  float: none;
  width: 480px;
}
footer {
  width: 480px;
}
#content-title {
  width: 432px;
  padding: 24px;
}
#content-title p {
  font-size: 40px;
}
#content-comment {
  width: 432px;
  padding: 24px;
  margin-top: 0;
}
#main-content {
  padding: 0;
  height: auto;
}
#content-right {
  height: 200px;
}
.spnav ul {
	margin: 0;
	padding: 0;
}
.spnav{
	display:block !important;
}
.spnav ul li a {
	display: block;
	padding: 16px;
	text-decoration: none;
	font-weight: lighter;
	background-color: #333;
	color: #fff;
	border-bottom: solid 1px #888;
	transition: .3s;
}
.spnav ul li a:hover {
	background-color: #888;
}
#article-nav {
	display: none !important;
}
#footer{
	width:480px;
}
#article article {
	width: 448px;
	margin: 0 16px;
}
}
